<!--<h1>{{ title }}</h1>-->

<!--&lt;!&ndash; this creates a google map on the page with the given lat/lng from &ndash;&gt;-->
<!--&lt;!&ndash; the component as the initial center of the map: &ndash;&gt;-->
<!--<agm-map [latitude]="lat" [longitude]="lng">-->
  <!--<agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>-->
<!--</agm-map>-->
<!--<app-test></app-test>-->

<!--<app-app-child (valuechange)='displayCounter($event)'></app-app-child>-->
<!--Calling the displayCounter function on the valueChange event..-->


<div class="container">
  <br />
  <h1 class="text-center">{{title}}</h1>
  <table class="table">
    <thead>
    <th>Id</th>
    <th>Title</th>
    <th>Price</th>
    <th>Stock</th>
    </thead>
    <tbody>
    <tr *ngFor="let p of products">
      <td>{{p.id}}</td>
      <td>{{p.title}}</td>
      <td>{{p.price}}</td>
      <td>{{p.stock}}</td>
      <td><app-stockstatus [productId]='p.id' [stock]='p.stock'
                           (stockValueChange)='changeStockValue($event)'>
      </app-stockstatus></td>
    </tr>
    </tbody>
  </table>
</div>


<input class="form-control" type="text" #data [value]="btnText">
<input type="text" class="form-control" (keyup)="chnages(data)" value = "{{btnText}}">
